<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>oauth_consumer_key</key>
	<string>u23L2GNmL3DG8310OvWr9U7Q2</string>
	<key>oauth_consumer_secret</key>
	<string>7gN8u32zXatAbG0Er0NbtHd5lH5RZdf77Q0I3GMjyBqWlYfOgP</string>
</dict>
</plist>
